/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*body {
    font-family: 'Work Sans', sans-serif;
}


/* navbar styles */
.logo-container {
    width: 50%;
    display: flex;
}

.logo-container img {
    width: 50px;
    margin-right: 20px;
}

.nav-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.nav-item-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.logo-title {
    color: #0B0223;
    font-size: 1.8rem;
    font-weight: 700;
}

.high-light {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 1530px;
    margin: 0 auto;
    padding: 0% 10%;
}

.nav-button {
    color: #3C354F;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    border-style: none;
    padding: 12px 20px;

}

.nav-button img {
    width: 10%;
}

/* play styles */
main {
    margin: 100px auto 0;
    max-width: 1400px;
}

.play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.play-description {
    width: 50%;
    text-align: center;
    background-image: url('images/Group\ 14.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.play-description h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.play-description>h1 {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play-description>p {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
}

.playing-image {
    width: 50%;
}

.playing-image img {
    width: 100%;
}

.btn {
    margin-top: 10px;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 40px;
    background-color: #FF42A5;
    border-radius: 48px;
    border: none;
}

.btn1 {
    background: #4EC5F7;
}

/* videos style */
.videos-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.item {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.light {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.videos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.videos{
    border: 1px solid rgb(196, 140, 244);
    padding: 10px;
    border-radius: 10px;
}
.videos img{
    width: 100%;
}
.image{
    position: relative;
    width: 300px;
    height: 350px;
    cursor: pointer;
    overflow: hidden;
}
.image{
    width: 100%;
    margin: 0 auto;
}
.text{
    font-size: 1rem;
    top: 139%;

    position: absolute;
    background: #3C354F;
    width: 310px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #3c0202;
    opacity: .8;
    visibility: hidden;
    border: 2px solid #a00e61;
    border-radius: 10px;
}
.videos:hover .text{
    visibility: visible;
}





/* play instantly styles */
.instant-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;

}

.item2 {
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}

.instant-highlight {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.intant-text {
    width: 50%;
    padding-right: 150px;
    padding-left: 60px;
}

.instant-image {
    width: 50%;
    position: relative;
}

.instant-image>img {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
}

.square img {
    height: 35%;
    width: 28%;
    position: absolute;
    bottom: -15%;
    left: -9%;
}

/* games styles */
.games-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10%;
}

.primary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    gap: 20px;
    padding: 10px 15px;
    border-style: none;
}

.primary:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.games-images {
    width: 30px;
}

.footer-section {
    max-width: 1500px;
    margin: 0 auto;
    background: #0B0223;
    text-align: center;
    height: 500px;
}

.footer-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: #FFF;
}

.footer-logo,
.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer-logo>img {
    width: 80px;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    gap: 60px;
}

li {
    list-style-type: none;
}

.link img {
    width: 3%;

}

.footer-list {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 30px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}



/* mobile devices */
@media screen and (max-width:623px) {

    .navbar,
    .nav-item-container,
    .play-container,
    .instant {
        flex-direction: column;
    }

    .play-container {
        flex-direction: column-reverse;
    }

    .playing-image {
        width: 90%;
    }

    .nav-button {
        gap: 10px;
        padding: 4px 9px;
    }

    .nav-item-container {
        gap: 10px;
    }

    .play-description {
        width: 80%;
        margin: 0 auto;
    }
    .play-description > h1 {
        font-size: 2.5rem;
    }
    .play-description > h2 {
        font-size: 2rem;
    }

    /* funny videos */
    .videos-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .videos-title {
        font-size: 1.5rem;
    }

    .item {
        font-size: 0.6rem;
    }

    .intant-text,
    .instant-image {
        width: 80%;
        margin: 0 auto;
    }

    .instant-title,
    .item2 {
        text-align: center;
    }

    .intant-text {
        width: 80%;
        padding-right: 2px;
        padding-left: 2px;

    }

    /* games style */
    .games-container {
        padding: 10px;
        gap: 10px;
    }

    .primary {
        padding: 2px 2px;
        font-size: .5rem;
        gap: 5px;
    }
    .videos:hover .text {
        visibility: hidden;
    }

    /* footer */
    .footer-logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .list-item {
        gap: 10px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: .9rem;
        padding-bottom: 20px;


    }

    .footer-list {
        padding-top: 20px;
        font-size: .7rem;
        margin: 0 auto;
    }

    .copyright {
        font-size: .7rem;
    }
    .videos-container{
        grid-template-columns: repeat(1, 1fr);
    }
}




/* tablet or medium devices */
@media screen and (min-width:623px) and (max-width:768px) {

    .navbar,
    .nav-item-container,
    .play-container,
    .instant {
        flex-direction: column;
    }

    .logo-container {
        justify-content: center;

    }

    .play-container {
        flex-direction: column-reverse;
    }

    .playing-image {
        width: 90%;
    }

    .nav-button {
        gap: 10px;
        padding: 4px 9px;
    }

    .nav-item-container {
        gap: 10px;
    }

    .play-description {
        width: 80%;
        margin: 0 auto;
    }

    /* funny videos */
    .videos-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .instant-title {
        text-align: center;
    }

    .item2 {
        text-align: center;
    }
    .videos-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .videos:hover .text {
        visibility: hidden;
    }

}